// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Captions
.wp-caption {
  background: lighten($base-background-color, 10%);
  margin: 0;
  figcaption {
    padding: 0 1em 0.5em;
    font-size: 0.8em;
  }
}
.wp-caption-text {

}

// Media alignment
.aligncenter,
.alignleft,
.alignright,
.alignnone {
  margin-top: 15px;
}
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
.aligncenter {
  display: block;
  margin: 15px auto;
}
.alignleft,
.alignright {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: 15px;
  }
  .alignright {
    float: right;
    margin-left: 15px;
  }
}

