.page-header {
  margin: 1em 0 5em;
}

.page-header,
body.single .entry-title {
  border-bottom: 1px solid lighten($base-background-color, 20%);
}

.page-header h1,
body.single .entry-title {
  text-align: center;
  padding-bottom: 0.5em;

}
