.hentry,
body.single .entry-content {
  margin-bottom: 3em;
  padding-bottom: 2em;
}

body.archive .hentry:not(:last-of-type),
body.blog .hentry:not(:last-of-type) {
  border-bottom: 1px solid lighten($base-background-color, 20%);
}

.byline {
  margin-bottom: 0;
}

.meta-container {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(flex-start);
  margin-bottom: 2em;
  > .meta-box {
    @include flex(1);
  }
}

.meta-box time {
  @extend h6;
  font-weight: 600;
}

.meta-box h6 {
  margin-bottom: 0;
}
